body {
    font-family: sans-serif;
    text-align: left;
    font-size: 16px;
    margin: 5%;
    margin-top: 20px;
}

code {
    font-family: monospace;
    background-color: #80808020;
}

blockquote {
    border-left: 4px solid #CCC;
    padding-left: 8px;
}