body {
    text-align: left;
    font: 1.2em/1.2 arial, sans-serif;
    margin: 1em auto;
    max-width: 40em;
}

code {
    font-family: monospace;
    background-color: #80808020;
}

blockquote {
    border-left: 4px solid #CCC;
    padding-left: 8px;
}